.chord-modal-list__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.chord-modal-list__item__title {
	font-weight: bold;
}
.chord-modal-list__item__sub-title {
	opacity: 0.6;
}
.chord-modal-list__item__right {
	display: flex;
	align-items: center;
	gap: 2px;
}
.chord-modal-list__item__right-interval {
	font-size: 0.8rem;
	opacity: 0.8;
	font-weight: bold;
	padding: 2px 4px;
	background-color: var(--dropdown-background-hover);
	border-radius: 2px;
}

.chord-widget {
	cursor: pointer;
	border-radius: 0.6rem;
}

.chord-widget__wrap {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	vertical-align: bottom;
}

.chord-widget__wrap-title {
	font-size: 1.2rem;
	font-weight: bold;
}

.chord-widget__wrap-fixed {
	position: absolute;
	bottom: 1.4rem;
	opacity: 0;
	display: none;
}

.chord-widget__wrap-text {
	text-decoration: underline;
}

.chord-widget__wrap:hover .chord-widget {
	background-color: var(--dropdown-background-hover);
	transition: all 0.2s ease-in-out;
	z-index: 1;
}

.chord-widget__wrap:hover .chord-widget__wrap-text {
	color: var(--color-base-70);
	transition: all 0.2s ease-in-out;
}

.chord-widget__wrap:hover .chord-widget__wrap-fixed {
	opacity: 1;
	display: block;
	transition: all 0.2s ease-in-out;
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.chord-card-setting-btn {
	height: auto;
	padding: var(--size-4-3) var(--size-4-3);
}

.scroll-without-bar {
	overflow: auto;
	scrollbar-width: none;
}
.scroll-without-bar::-webkit-scrollbar {
	display: none;
}
